

.calendar{
    margin: 15vh;
    padding: 3vh;
    transform: scale(1.3); /* increase overall size */
    
}
.boxAppuntamenti{
    display: flex;
    flex-direction: column;
  
    
    border-width: 0.2vh;
    border-radius: 1vh;
    padding: 2vh;
    border-color: black;
}