

.all{
 display: flex;
 flex-direction: row;
}
.react-calendar{
  left: 0vh;
  margin-top: 10vh;
  height: 50%;
}
/*colore nr tile*/
.react-calendar__tile{  
    color: rgb(3, 3, 3);
}
/*colore tile con appuntamenti*/
.tile-with-appointment {
  background-color: #2F4858;
  color: white;
  border-radius: 10px;
}
/*colore tile selezionata*/
.react-calendar__tile--active {
    background: rgb(46, 139, 139);
    color: white;
    border-radius: 10px;
  }
/*copiare clore tile selezionata*/
  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background-color: rgb(46, 139, 139);
  }



  

  .appList{
    
    border-width: 0.2vh;
    margin-top: 8.9vh;
    height: 100%;
    border-color: rgb(160, 160, 150);
    padding: 2vh;
    display: flex;
    flex-direction: column;
  }

  
  .appListElement{
    margin: 2vh;
    color: rgb(0, 0, 0);
    align-items: center;
  }

  .appListElement button{
    width: 100%;
    background-color: #2F4858;
  }


  .modulo-overlay {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  
    top: 0;
    left: 0;

    
    
    background-color: rgba(0, 0, 0, 0.5); /* semi-trasparente */
    align-items: center;
   
   
  }
  
  .modulo-content {
    background-color: rgb(255, 255, 255);
   
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }


  .Buttons{
    color: black;
  }

