

.calendar{
  left: 0vh;

  height: 50%;
}
/*colore nr tile*/
.react-calendar__tile{  
    color: rgb(3, 3, 3);
}
/*colore tile con appuntamenti*/
.tile-with-appointment {
  background-color: rgb(173, 211, 241);
  color: white;
  border-radius: 10px;
}
/*colore tile selezionata*/
.react-calendar__tile--active {
    background: rgb(82, 201, 201);
    color: white;
    border-radius: 10px;
  }
/*copiare clore tile selezionata*/
  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background-color: rgb(82, 201, 201);
  }



  

  .appList{
    border-width: 0.5vh;
    border-radius: 2vh;
    border-color: black;
    padding: 2vh;
    display: flex;
    flex-direction: column;
  }

  .appListElement{
    margin: 2vh;
  }
  .appListElement{
    margin: 2vh;
    color: rgb(0, 0, 0);
  }

  .modulo-overlay {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  
    top: 0;
    left: 0;

    
    
    background-color: rgba(0, 0, 0, 0.5); /* semi-trasparente */
    align-items: center;
   
   
  }
  
  .modulo-content {
    background-color: rgb(255, 255, 255);
   
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }


  .Buttons{
    color: black;
  }