
.test{
    background-color: red;
}

.calendar{
  left: 0vh;

  height: 50%;
}

.all{

}

.react-calendar{
    background-color: rgb(255, 255, 255);
}

.react-calendar__tile{
    color: rgb(7, 8, 8);
}

.react-calendar__tile--active {
    background: rgb(243, 113, 113);
    color: white;
    border-radius: 10px;
  }

  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background-color: rgb(243, 113, 113);
  }

  .modulo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* semi-trasparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modulo-content {
    background-color: white;
   
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .buttons{
    color: black;
  }

  .appList{
    position: fixed;
    top: 20%;
    left: 70vh;

    display: flex;
    width: 400px;
    margin: 10vh;
  }