.pulsanti {
    display: flex;
    width: 100%;
    align-items: center;   /* Allinea i bottoni verticalmente al centro */
    justify-content: center; /* Allinea i bottoni orizzontalmente al centro */

    gap: 2vh;               /* Aggiunge uno spazio tra i bottoni */
}

.pulsanti button{
    height: 6vh;
    width: 20vh;
    border-radius: 1vh;
    border:0;
    cursor: pointer;
    transition: all 0.3s ease;
    transition: transform 0.3s ease;
        font-size: 3vh;
    padding: 1vh;
}

.pulsanti :hover{
    transform: scale(1.02);
}

.griglia {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonne fisse */
    gap: 3vh;
    margin: 4vh 0;

    box-sizing: border-box;

    /* Font styling */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 3vh;
    text-align: center;
    padding: 0 8vh;
}



.centro {
    display: flex;
    justify-content: center;   /* Centra la Card all'interno del div */
    align-items: center;       /* Centra verticalmente la Card */
    width: 100%;               /* Assicurati che il div occupi tutto lo spazio disponibile */
    box-sizing: border-box;
}

.add_box{
    display: flex;
}

.selezionato{
    background-color: #2F4858;
    color: white;
}

.non-selezionato{
    background-color: white;
    color: #2F4858;
    box-shadow: 0 0 30px rgba(47, 72, 88, 0.1);

}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: '4vh';
}
