* {
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

.nav{
    
    background-color: rgb(30, 36, 36);
    color: rgb(119, 209, 245);
    display: flex;
    justify-content: space-between;
    
    align-items: stretch;
    gap: 50rem;
    padding: 2rem;
    font-size: 20px;
    height: 15vh;
}

.title {
    font-size: 2rem;
}

.nav a {
    color: inherit;
    display: flex;
    height: 100%;
    align-items: center;
    
    padding: 0;
}

.nav ul{
    padding: 0rem;
    margin: 0;
    list-style: none;
    display: flex;
   
    gap: 2rem;
}


.nav li:hover{
    color: burlywood;
    transform: scale(1.5,1.5);
     
}