.body_signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0;
}


.SignUpCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(300px, 40vw, 500px); /* da 300px minimo a 500px massimo, 40vw preferita */
    padding: 30px;
    margin: auto;
    border-radius: 3vh;
    box-shadow: 0 0 2vh black;
    background-color: rgb(255, 255, 255);
}

.card_container_Up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: auto;
    border-radius: 3vh;
    box-shadow: 0 0 2vh rgba(47, 72, 88, 0.3);
    background-color: rgb(255, 255, 255);
    margin-top: 15vh;
    margin-bottom: 15vh;

    width: clamp(500px, 60vw, 700px);    /* da 300px minimo a 500px massimo, 40vw preferita */
}


.buttons{
    margin: 2vh;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    color: white;
}

.SignUpCard button{
    color: rgb(153, 153, 153) ;
    background-color: white;
    border-color: white;
    border-radius: 1vh;
    border-width: 2vh;
    border: 0.2vh solid black;
    margin-top: 2vh;
}

.SignUpCard button:hover{
    color: rgb(75, 213, 255) ;

    border: 0.5vh solid black;
}

.inputs{
    display: flex;
    flex-direction: column;
    /*gap: 2vh;*/
    color: rgb(60, 60, 60);
}

.SignUp{
    margin-bottom: 5vh;
    color: rgb(0, 0, 0);
}

.Anagrafica{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    margin: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    width: 85%;
}

.Anagrafica input{
    width: 100%;
    height: 5vh;
    border: 1px solid gray;
    padding: 2%;
    font-size: 20x;
}

.Anagrafica select{
    width: 100%;
    height: 3vh;
    border: 1px solid gray;
    height: 5vh;
    font-size: 17px;
    color: gray
}

.Anagrafica select option{
    font-size: 17px;
}

.Anagrafica div label{
    text-align: left;
    font-size: 15px;
}

.Anagrafica div{
    text-align: left;
}

.birthdate {
    color: gray; /* gray-500 */
}

.p_signUp{
    margin-top: 1vh;
}



