.c{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gray;
}

.plusWrapper {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .plus {
    color: white;
    font-size: 3rem;
    line-height: 1;
    user-select: none;
  }