.cardContainer{
    aspect-ratio: 2/3;
    width: 100%;
    border-radius: 15px;
    background-color: orange;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cardContainer:hover{
    transform: scale(1.02);
}